*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 
body{
    background-color: #e9ecf4;
}
 
#titulo{
    color: #3183ff;
    font-family: Arial;
    text-align: center;
    margin-top: 20px;
}
 
form{
    background-color: #fff;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 40px;
    padding: 50px 20px;
    text-align: center;
   
}
 
#welcome{
    font-family: Arial;
    font-size: 24pt;
    font-weight: 600;
    margin-bottom:40px;
    color: #000;
}
 
label{
    display: block;
    text-align: left;
    font-family: Arial;
    font-size: 12pt;
    margin-bottom: 5px;
}
input[type=email], input[type=password], input[type=text]{
    width: 95%;
    padding: 15px;
    border: 0;
    border-radius: 40px;
    background-color:#e9ecf4 ;
    outline: none;
    margin-bottom: 10px;
}
 
#lembrete{
    width: 95%;
    display: flex;
}
 
#lembrete span:nth-of-type(2){
    font-family: Arial;
    font-size: 10pt;
    width: 60%;
    text-align: right;
    color: #3183ff;
}
 
#lembrete span:nth-of-type(1){
    font-family: Arial;
    font-size: 10pt;
    width: 30%;
}

#lembrete1{
    width: 95%;
    display: flex;
}

.termo1{
    font-family: Arial;
    font-size: 10pt;
    width: 30%;
}

.termo2{
    font-family: Arial;
    font-size: 10pt;
    width: 30%;
    color: #3183ff;
}
 
input[type=button]{
    width: 95%;
    background-color: #3183ff;
    color: #fff;
    padding: 20px;
    border: 0;
    border-radius: 50px;
    margin-top: 40px;
    text-transform: capitalize;
}
 
form p{
    font-family: Arial;
    font-size: 13pt;
    color: gray;
    margin-top: 30px;
}
 
#redes img{
    height: 35px;
    width: 35px;
   
}
 
#redes{
    display: flex;
    justify-content: center;
   
   
}
 
#redes div{
    background-color: #e8edf5;
    border-radius: 12px;
    height: 50px;
    width: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

#setavoltar{
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial";
    font-size: 12pt;
    font-weight: lighter;
    border-radius: 50px;
    position: fixed;
    top: 17px;
    left: 10px;

}